* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: skyblue;
}


.calculator {
    position: relative;
    display: grid;
}

.calculator .value {
    grid-column: span 4;
    height: 100px; 
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px; 
} 

.calculator span {
    display: grid;
    height: 60px;
    width: 60px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}

.calculator span:active {
    background-color: rgb(247, 54, 86);
    color: #111;
} 

.calculator span.clear {
    grid-column: span 2;
    width: 120px; 
    background: #ff3077;
}

.calculator span.plus {
    grid-row: span 2;
    height: 120px;   
}

.calculator span.equal {
    background:rgb(6, 6, 82);
}
